<div class="card h-100">
    <div class="card-body">
        <h5 class="card-title">Hallo Franziska</h5>
        <h6 class="card-subtitle mb-2 text-muted">Ich bin Saturna, Dein persönlicher Assistent</h6>
        <div class="justify-content-end">
            <iframe src='https://webchat.botframework.com/embed/saturna-bot?s=A4BVDQosuNs.cwA.94w.1hf3_MO1waiKZCYKfYn-gT3VFgVXjPTIOISP98GH_T0'></iframe>
        </div>
    </div>
</div>