<div *ngFor="let offer of activeOffers" class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{products[offer.item].image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ products[offer.item].name }}</h5>
        <p class="card-text">{{ offer.description }}</p>
        <a href="#" class="btn btn-primary">Buy (€ {{offer.price}})</a>
    </div>
</div>