<div class="card" style="width: 18rem;">
  <div #gmap style="width:100%;height:400px"></div>
  <div class="card-body">
    <h5 class="card-title">Location {{activeLocations?.name}}</h5>
    <p class="card-text">Hier findest Du dein gewünschtes Produkt</p>
    <a href="#" class="btn btn-primary">Navigiere</a>
  </div>
</div>