<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{activeProduct.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{activeProduct.name}}</h5>
    <i>{{activeProduct.category}}</i>
    <p class="card-text">{{activeProduct.description}}</p>
    <a href="#" class="btn btn-primary">Buy (€ {{activeProduct.price}})</a>
  </div>
</div>